USE [master]
GO
/****** Object:  Database [Attached population]    Script Date: 08.12.2025 11:56:36 ******/
CREATE DATABASE [Attached population]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Attached population', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Attached population.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Attached population_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Attached population_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Attached population].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Attached population]
GO
/****** Object:  Table [dbo].[HISTLPU]    Script Date: 08.12.2025 11:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTLPU](
	[histlpu_id] [int] IDENTITY(1,1) NOT NULL,
	[people_id] [int] NOT NULL,
	[lpu] [nchar](6) NULL,
	[lpudt] [date] NULL,
	[ipudx] [date] NULL,
	[district] [nchar](10) NULL,
	[subdiv] [nchar](10) NULL,
 CONSTRAINT [PK_HISTLPU] PRIMARY KEY CLUSTERED 
(
	[histlpu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LPU]    Script Date: 08.12.2025 11:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LPU](
	[lpu_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nchar](6) NOT NULL,
	[caption] [nchar](100) NOT NULL,
	[bossname] [nchar](150) NOT NULL,
 CONSTRAINT [PK_LPU] PRIMARY KEY CLUSTERED 
(
	[lpu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEOPLE]    Script Date: 08.12.2025 11:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEOPLE](
	[people_id] [int] IDENTITY(1,1) NOT NULL,
	[enp] [nchar](16) NOT NULL,
	[fam] [nchar](40) NOT NULL,
	[im] [nchar](40) NOT NULL,
	[ot] [nchar](40) NULL,
	[w] [tinyint] NOT NULL,
	[dr] [date] NOT NULL,
	[lpu] [nchar](6) NULL,
	[lpudt] [date] NULL,
	[lpudx] [date] NULL,
	[lpuuch] [nchar](10) NULL,
 CONSTRAINT [PK_PEOPLE] PRIMARY KEY CLUSTERED 
(
	[people_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQUE_ENP] UNIQUE NONCLUSTERED 
(
	[people_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__PEOPLE__D9507B856A9C4112] UNIQUE NONCLUSTERED 
(
	[enp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T001]    Script Date: 08.12.2025 11:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T001](
	[T001_id] [int] IDENTITY(1,1) NOT NULL,
	[mcod] [nchar](6) NOT NULL,
	[nam_mo] [nchar](100) NOT NULL,
	[nom_podr] [nchar](10) NOT NULL,
 CONSTRAINT [PK_T001] PRIMARY KEY CLUSTERED 
(
	[T001_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T007]    Script Date: 08.12.2025 11:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T007](
	[T007_id] [int] IDENTITY(1,1) NOT NULL,
	[code_mo] [nchar](6) NOT NULL,
	[name_depth] [nchar](100) NOT NULL,
	[nom_podr] [nchar](10) NOT NULL,
	[depth] [nchar](10) NOT NULL,
 CONSTRAINT [PK_T007] PRIMARY KEY CLUSTERED 
(
	[T007_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HISTLPU]  WITH CHECK ADD  CONSTRAINT [FK_HISTLPU_PEOPLE] FOREIGN KEY([people_id])
REFERENCES [dbo].[PEOPLE] ([people_id])
GO
ALTER TABLE [dbo].[HISTLPU] CHECK CONSTRAINT [FK_HISTLPU_PEOPLE]
GO

/****** Object:  StoredProcedure [dbo].[FindByNameAndBirthDay]    Script Date: 08.12.2025 11:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FindByNameAndBirthDay] 
	@fam_people NVARCHAR(40), 
	@im_people NVARCHAR(40), 
	@ot_people NVARCHAR(40) = NULL,
	@dr_people date,
	@result NVARCHAR(500) OUTPUT
AS 
BEGIN
	DECLARE 
	@people NVARCHAR(150),
	@code_lpu NVARCHAR(6),
	@code_district NVARCHAR(10),
	@code_subdiv NVARCHAR(10),
	@date_detach date
	
	SET @people = @fam_people + ' ' + @im_people + ' ' + IIF(@ot_people IS NULL, '', @ot_people) + ' ' + CONVERT(NVARCHAR(10), @dr_people) + ' - '
	
	SELECT @code_lpu = PEOPLE.lpu, @date_detach = PEOPLE.lpudx, @code_district = HISTLPU.district, @code_subdiv = HISTLPU.subdiv
	FROM PEOPLE 
	JOIN HISTLPU ON HISTLPU.people_id = PEOPLE.people_id
	WHERE fam LIKE @fam_people+'%' AND im LIKE @im_people+'%' AND (ot LIKE @ot_people+'%' OR ot IS NULL) AND dr = @dr_people
	
	IF (@code_lpu IS NOT NULL) 
		BEGIN
		SELECT @result = @people + 'прикреплён к ' + TRIM((SELECT caption FROM LPU WHERE LPU.code = @code_lpu))
				IF(@date_detach IS NULL)
				BEGIN
					IF(@code_district IS NOT NULL AND @code_subdiv IS NOT NULL)
					BEGIN
						SELECT @result += ', ' + 
						TRIM((SELECT nam_mo FROM T001 WHERE T001.nom_podr = @code_district AND T001.mcod = @code_lpu)) + ', ' + 
						TRIM((SELECT name_depth FROM T007 WHERE T007.depth = @code_subdiv AND T007.code_mo = @code_lpu))
					END
				END
				ELSE
					SELECT @result = @people + 'не прикреплён'			
		END
	ELSE 
		SELECT @result = @people + 'не прикреплён'
END
GO
USE [master]
GO

/****** Object:  StoredProcedure [dbo].[FindByENP]    Script Date: 08.12.2025 11:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FindByENP]
	@enp_people NVARCHAR(16),
	@result NVARCHAR(500) OUTPUT
AS 
BEGIN
	DECLARE
	@people_data NVARCHAR(500),
	@fam_people NVARCHAR(40), 
	@im_people NVARCHAR(40), 
	@ot_people NVARCHAR(40),
	@dr_people date
	
	SELECT @fam_people = PEOPLE.fam, @im_people = PEOPLE.im, @ot_people = PEOPLE.ot, @dr_people = PEOPLE.dr
	FROM PEOPLE 
	WHERE PEOPLE.enp LIKE @enp_people
	
	SET @fam_people = TRIM(@fam_people)
	SET @im_people = TRIM(@im_people)
	SET @ot_people = TRIM(@ot_people)
	
	IF(@fam_people IS NULL AND @im_people IS NULL)
		SELECT @result = @enp_people + ' - такой полис не найден'
	ELSE
		BEGIN
			EXEC FindByNameAndBirthDay @fam_people, @im_people, @ot_people, @dr_people, @people_data OUTPUT
			SELECT @result = @enp_people + ' : ' + @people_data
		END
END
GO
