USE [master]
GO
/****** Object:  Database [Clinical Examination]    Script Date: 13.12.2025 15:26:33 ******/
CREATE DATABASE [Clinical Examination]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Clinical Examination', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Clinical Examination.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Clinical Examination_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Clinical Examination_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Clinical Examination].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Clinical Examination]
GO
/****** Object:  XmlSchemaCollection [dbo].[Validator]    Script Date: 13.12.2025 15:26:33 ******/
CREATE XML SCHEMA COLLECTION [dbo].[Validator] AS N'<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element name="ZL_LIST"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:all><xsd:element name="ZGLV"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence><xsd:element name="VERSION" type="xsd:string" /><xsd:element name="DATE" type="xsd:date" /><xsd:element name="FILENAME" type="xsd:string" /><xsd:element name="YEAR" type="xsd:int" /><xsd:element name="CODE_MO" type="xsd:string" /></xsd:sequence></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element><xsd:element name="EVENT"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence><xsd:element name="DISP" type="xsd:string" /><xsd:element name="KOL_M" type="xsd:int" /><xsd:element name="KOL_W" type="xsd:int" /><xsd:element name="PERS" maxOccurs="unbounded"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence><xsd:element name="N_ZAP" type="xsd:int" /><xsd:element name="ID_PAC" type="xsd:string" /><xsd:element name="W" type="xsd:int" /><xsd:element name="DR" type="xsd:string" /><xsd:element name="SMO" type="xsd:string" /><xsd:element name="VPOLIS" type="xsd:int" /><xsd:element name="SPOLIS" type="xsd:string" minOccurs="0" /><xsd:element name="NPOLIS" type="xsd:string" /><xsd:element name="QUARTER" type="xsd:int" minOccurs="0" /><xsd:element name="MONTH" type="xsd:int" minOccurs="0" /><xsd:element name="LPU1" type="xsd:string" /><xsd:element name="DEPTH" type="xsd:string" /><xsd:element name="SS_DOC" type="xsd:string" /><xsd:element name="SS_DOC_D" type="xsd:string" minOccurs="0" /><xsd:element name="PRVS_D" type="xsd:int" minOccurs="0" /><xsd:element name="DS_D" type="xsd:string" minOccurs="0" /><xsd:element name="PLACE_D" type="xsd:int" minOccurs="0" /><xsd:element name="ID_TFOMS" type="xsd:string" minOccurs="0" /><xsd:element name="COMMENT" type="xsd:string" minOccurs="0" /><xsd:element name="ID_EVENT" type="xsd:int" minOccurs="0" /><xsd:element name="CONTACTS" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:complexContent><xsd:restriction base="xsd:anyType"><xsd:sequence><xsd:element name="PERS_ID" type="xsd:int" minOccurs="0" /><xsd:element name="PHONE_F" type="xsd:string" minOccurs="0" /><xsd:element name="PHONE_M" type="xsd:string" minOccurs="0" /><xsd:element name="EMAIL" type="xsd:string" minOccurs="0" /><xsd:element name="ADDRESS" type="xsd:string" minOccurs="0" /></xsd:sequence></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element></xsd:sequence></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element></xsd:sequence></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element></xsd:all></xsd:restriction></xsd:complexContent></xsd:complexType></xsd:element></xsd:schema>'
GO
/****** Object:  Table [dbo].[CONTACTS]    Script Date: 13.12.2025 15:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PERS_ID] [int] NULL,
	[PHONE_F] [nchar](11) NULL,
	[PHONE_M] [nchar](11) NULL,
	[EMAIL] [nchar](50) NULL,
	[ADDRESS] [nchar](250) NULL,
 CONSTRAINT [PK_CONTACTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENT]    Script Date: 13.12.2025 15:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DISP] [nchar](3) NOT NULL,
	[KOL_M] [int] NOT NULL,
	[KOL_W] [int] NOT NULL,
 CONSTRAINT [PK_EVENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERS]    Script Date: 13.12.2025 15:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERS](
	[N_ZAP] [int] NOT NULL,
	[ID_PAC] [nchar](36) NOT NULL,
	[W] [tinyint] NOT NULL,
	[DR] [date] NOT NULL,
	[SMO] [nchar](5) NOT NULL,
	[VPOLIS] [tinyint] NOT NULL,
	[SPOLIS] [nchar](10) NULL,
	[NPOLIS] [nchar](16) NOT NULL,
	[QUARTER] [tinyint] NOT NULL,
	[MONTH] [tinyint] NULL,
	[LPU1] [nchar](3) NOT NULL,
	[DEPTH] [nchar](10) NOT NULL,
	[SS_DOC] [nchar](11) NOT NULL,
	[SS_DOC_D] [nchar](11) NULL,
	[PRVS_D] [smallint] NULL,
	[DS_D] [nchar](3) NULL,
	[PLACE_D] [tinyint] NULL,
	[ID_TFOMS] [nchar](36) NULL,
	[COMMENT] [nchar](250) NULL,
	[ID_EVENT] [int] NOT NULL,
 CONSTRAINT [PK_PERS] PRIMARY KEY CLUSTERED 
(
	[N_ZAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__PERS__20AF02C57DED4A90] UNIQUE NONCLUSTERED 
(
	[ID_PAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZGLV]    Script Date: 13.12.2025 15:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZGLV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VERSION] [nchar](5) NOT NULL,
	[DATE] [date] NOT NULL,
	[FILENAME] [nchar](26) NOT NULL,
	[YEAR] [smallint] NOT NULL,
	[CODE_MO] [nchar](6) NOT NULL,
 CONSTRAINT [PK_ZGLV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONTACTS]  WITH CHECK ADD  CONSTRAINT [FK_CONTACTS_PERS] FOREIGN KEY([PERS_ID])
REFERENCES [dbo].[PERS] ([N_ZAP])
GO
ALTER TABLE [dbo].[CONTACTS] CHECK CONSTRAINT [FK_CONTACTS_PERS]
GO
ALTER TABLE [dbo].[PERS]  WITH CHECK ADD  CONSTRAINT [FK_PERS_EVENT] FOREIGN KEY([ID_EVENT])
REFERENCES [dbo].[EVENT] ([ID])
GO
ALTER TABLE [dbo].[PERS] CHECK CONSTRAINT [FK_PERS_EVENT]
GO
/****** Object:  StoredProcedure [dbo].[ChechCountPers]    Script Date: 13.12.2025 15:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ChechCountPers]
	@result NVARCHAR(100) OUTPUT
AS
BEGIN
	DECLARE
	@kol_m INT,
	@kol_w INT,
	@count_pers INT	
	
	SET @kol_m = (
	SELECT 
		XML.EVENT.query('KOL_M').value('.', 'INT')
	FROM (SELECT CAST(XML AS xml)
		  FROM OPENROWSET(BULK 'C:\Project\Work\TFOMS\ClinicalExamination\ClinicalExamination\bin\Debug\INPUT\XML_Test.xml', SINGLE_BLOB) AS T(XML)) AS T(XML)
		  CROSS APPLY XML.nodes('ZL_LIST/EVENT') AS XML (EVENT))

	SET @kol_w = (	
	SELECT 
		XML.EVENT.query('KOL_W').value('.', 'INT')
	FROM (SELECT CAST(XML AS xml)
		  FROM OPENROWSET(BULK 'C:\Project\Work\TFOMS\ClinicalExamination\ClinicalExamination\bin\Debug\INPUT\XML_Test.xml', SINGLE_BLOB) AS T(XML)) AS T(XML)
		  CROSS APPLY XML.nodes('ZL_LIST/EVENT') AS XML (EVENT))
	
	SET @count_pers = (
	SELECT 
		COUNT(XML.PERS.query('N_ZAP').value('.', 'INT'))
	FROM (SELECT CAST(XML AS xml)
		  FROM OPENROWSET(BULK 'C:\Project\Work\TFOMS\ClinicalExamination\ClinicalExamination\bin\Debug\INPUT\XML_Test.xml', SINGLE_BLOB) AS T(XML)) AS T(XML)
		  CROSS APPLY XML.nodes('ZL_LIST/EVENT/PERS') AS XML (PERS))
	
	IF((@kol_m+@kol_w) = @count_pers)
		SELECT @result = '1 Параметры KOL_M = ' + TRIM(CONVERT(NCHAR, @kol_m)) + ' и KOL_F = ' + TRIM(CONVERT(NCHAR, @kol_w)) + ' соответствуют количеству PERS = ' + TRIM(CONVERT(NCHAR, @count_pers))
	ELSE
		SELECT @result = '-1 Параметры KOL_M = ' + TRIM(CONVERT(NCHAR, @kol_m)) + ' и KOL_F = ' + TRIM(CONVERT(NCHAR, @kol_w)) + ' НЕ соответствуют количеству PERS = ' + TRIM(CONVERT(NCHAR, @count_pers))
END
GO
/****** Object:  StoredProcedure [dbo].[CheckValidation]    Script Date: 13.12.2025 15:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CheckValidation]
	@result NVARCHAR(300) OUTPUT
AS
	BEGIN
	DECLARE 
	@xml xml,
	@schema XML(Validator)
	
	SELECT @xml = XML_FILE
	FROM (SELECT CAST(XML_FILE AS xml)
			FROM OPENROWSET(BULK 'C:\Project\Work\TFOMS\ClinicalExamination\ClinicalExamination\bin\Debug\INPUT\XML_Test.xml', SINGLE_BLOB) AS X(XML_FILE)) AS X(XML_FILE)
	
	BEGIN TRY
		SELECT @schema = @xml
		SELECT @result = '1 XML-файл валидный'
	END TRY
	BEGIN CATCH
		SELECT @result = '-1 XML-файл НЕ валидный' + CHAR(10) + ERROR_MESSAGE()
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[InsertXMLtoDB]    Script Date: 13.12.2025 15:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertXMLtoDB]
	@result NVARCHAR(300) OUTPUT
AS
BEGIN
	DECLARE @event_id int
	
	INSERT INTO ZGLV (VERSION, DATE, FILENAME, YEAR, CODE_MO) 
	SELECT 
		XML.ZGLV.query('VERSION').value('.', 'NCHAR(5)'),
		XML.ZGLV.query('DATE').value('.', 'DATE'),
		XML.ZGLV.query('FILENAME').value('.', 'NCHAR(26)'),
		XML.ZGLV.query('YEAR').value('.', 'smallint'),
		XML.ZGLV.query('CODE_MO').value('.', 'NCHAR(6)')
	FROM (SELECT CAST(XML AS xml)
			FROM OPENROWSET(BULK 'C:\Project\Work\TFOMS\ClinicalExamination\ClinicalExamination\bin\Debug\INPUT\XML_Test.xml', SINGLE_BLOB) AS T(XML)) AS T(XML)
			CROSS APPLY XML.nodes('ZL_LIST/ZGLV') AS XML (ZGLV)
	
	INSERT INTO EVENT(DISP, KOL_M, KOL_W) 
	SELECT 
		XML.EVENT.query('DISP').value('.', 'NCHAR(3)'),
		XML.EVENT.query('KOL_M').value('.', 'INT'),
		XML.EVENT.query('KOL_W').value('.', 'INT')
	FROM (SELECT CAST(XML AS xml)
			FROM OPENROWSET(BULK 'C:\Project\Work\TFOMS\ClinicalExamination\ClinicalExamination\bin\Debug\INPUT\XML_Test.xml', SINGLE_BLOB) AS T(XML)) AS T(XML)
			CROSS APPLY XML.nodes('ZL_LIST/EVENT') AS XML (EVENT)
	SET @event_id = SCOPE_IDENTITY()
	
	INSERT INTO PERS(N_ZAP,	ID_PAC,	W, DR, SMO, VPOLIS, SPOLIS, NPOLIS, QUARTER, MONTH, LPU1, DEPTH, SS_DOC, SS_DOC_D,
		PRVS_D, DS_D, PLACE_D, ID_TFOMS, COMMENT, ID_EVENT) 
	SELECT 
		XML.PERS.query('N_ZAP').value('.', 'INT'),
		XML.PERS.query('ID_PAC').value('.', 'NCHAR(36)'),
		XML.PERS.query('W').value('.', 'TINYINT'),
		XML.PERS.query('DR').value('.', 'DATE'),
		XML.PERS.query('SMO').value('.', 'NCHAR(5)'),
		XML.PERS.query('VPOLIS').value('.', 'TINYINT'),
		XML.PERS.query('SPOLIS').value('.', 'NCHAR(10)'),
		XML.PERS.query('NPOLIS').value('.', 'NCHAR(16)'),
		XML.PERS.query('QUARTER').value('.', 'TINYINT'),
		XML.PERS.query('MONTH').value('.', 'TINYINT'),
		XML.PERS.query('LPU1').value('.', 'NCHAR(3)'),
		XML.PERS.query('DEPTH').value('.', 'NCHAR(10)'),
		XML.PERS.query('SS_DOC').value('.', 'NCHAR(11)'),
		XML.PERS.query('SS_DOC_D').value('.', 'NCHAR(11)'),
		XML.PERS.query('PRVS_D').value('.', 'SMALLINT'),
		XML.PERS.query('DS_D').value('.', 'NCHAR(3)'),
		XML.PERS.query('PLACE_D').value('.', 'TINYINT'),
		XML.PERS.query('ID_TFOMS').value('.', 'NCHAR(36)'),
		XML.PERS.query('COMMENT').value('.', 'NCHAR(250)'),
		@event_id
	FROM (SELECT CAST(XML AS xml)
			FROM OPENROWSET(BULK 'C:\Project\Work\TFOMS\ClinicalExamination\ClinicalExamination\bin\Debug\INPUT\XML_Test.xml', SINGLE_BLOB) AS T(XML)) AS T(XML)
			CROSS APPLY XML.nodes('ZL_LIST/EVENT/PERS') AS XML (PERS)
	
	INSERT INTO CONTACTS(PERS_ID, PHONE_F, PHONE_M, EMAIL, ADDRESS) 
	SELECT 
		XML.CONTACTS.query('PERS_ID').value('.', 'INT'),
		XML.CONTACTS.query('PHONE_F').value('.', 'NCHAR(11)'),
		XML.CONTACTS.query('PHONE_M').value('.', 'NCHAR(11)'),
		XML.CONTACTS.query('EMAIL').value('.', 'NCHAR(50)'),
		XML.CONTACTS.query('ADDRESS').value('.', 'NCHAR(250)')	
	FROM (SELECT CAST(XML AS xml)
			FROM OPENROWSET(BULK 'C:\Project\Work\TFOMS\ClinicalExamination\ClinicalExamination\bin\Debug\INPUT\XML_Test.xml', SINGLE_BLOB) AS T(XML)) AS T(XML)
			CROSS APPLY XML.nodes('ZL_LIST/EVENT/PERS/CONTACTS') AS XML (CONTACTS)
END
GO
USE [master]
GO
